[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
setuptools = "*"
click = "*"
croudtech-helm-helper = {path = ".",editable = true}
boto3 = "*"

[requires]
python_version = "3.8"
